# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# UV
uv.lock
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# mypy
.mypy_cache/
.dmypy.json
dmypy.json

cython_debug/

# IDE
.idea/
.vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc
